@import "tailwindcss";

@theme {
  --color-primary: #161617;
  --color-secondary: #86868b;
  --color-tertiary: #e8e8ed;
  --color-quaternary: #1d1d1f;
  --color-black-100: #100d25;
  --color-black-200: #090325;
  --color-white-100: #f3f3f3;
  --color-white-200: #f5f5f7;
  --color-blue-100: #2997ff;

  --breakpoint-laptop: 1441px;
  --breakpoint-smlaptop: 1069px;
  --breakpoint-tablet: 735px;
  --breakpoint-mobile: 481px;
  --breakpoint-min: 320px;

  --font-roboto: var(--font-roboto);
  --font-open: var(--font-open-sans);
}

svg {
  transition: fill-opacity 0.2s;
  fill-opacity: 0.8;
}

svg:hover {
  fill-opacity: 1;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0.7;
  }
  to {
    max-height: 100vh;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 100vh;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0.2;
  }
}

.open-navbar-item {
  animation: slideDown 0.5s forwards;
}

.close-navbar-item {
  animation: slideUp 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.1s forwards;
}

.navbar-ul > * {
  opacity: 0;
  animation: fadeIn 0.1s forwards;
}

.navbar-ul > *:nth-child(1) {
  animation-delay: 0.15s;
}
.navbar-ul > *:nth-child(2) {
  animation-delay: 0.17s;
}
.navbar-ul > *:nth-child(3) {
  animation-delay: 0.19s;
}
.navbar-ul > *:nth-child(4) {
  animation-delay: 0.21s;
}
.navbar-ul > *:nth-child(5) {
  animation-delay: 0.23s;
}
.navbar-ul > *:nth-child(6) {
  animation-delay: 0.25s;
}
.navbar-ul > *:nth-child(7) {
  animation-delay: 0.27s;
}
.navbar-ul > *:nth-child(8) {
  animation-delay: 0.29s;
}
.navbar-ul > *:nth-child(9) {
  animation-delay: 0.31s;
}
.navbar-ul > *:nth-child(10) {
  animation-delay: 0.33s;
}
.navbar-ul > *:nth-child(11) {
  animation-delay: 0.35s;
}

@keyframes openDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.navbar-dropdown-open div {
  animation: openDown 0.2s forwards;
}

.navbar-dropdown-close div {
  animation: closeUp 0.2s 0.03s forwards;
}

@keyframes changeNavColor {
  0% {
    background-color: black;
  }
  100% {
    background-color: #161617;
  }
}

@keyframes backNavColor {
  0% {
    background-color: #161617;
  }
  100% {
    background-color: black;
  }
}

.navbar-open {
  animation: changeNavColor 0.2s;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
}

.navbar-close {
  animation: backNavColor 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

.neon-text {
  text-shadow: 0 0 5px #e5b894, 0 0 10px #e5b894, 0 0 50px #b77c5f,
    0 0 100px #b77c5f, 0 0 150px #754a3a;
}

@keyframes fadeAppear {
  0% {
    opacity: 0;
    transform: translateY(20px);
    font-size: 20rem;
  }
  100% {
    opacity: 1;
    transform: translateY(-120px);
    font-size: 17rem;
  }
}

.titanium-text {
  animation: fadeAppear 1s 1s cubic-bezier(0.12, 0.47, 0.14, 0.99) forwards;
  font-size: clamp(3rem, 18vw, 20rem) !important;
}

/*Hamburger menu*/
.burger {
  position: relative;
  width: 26px;
  height: 22px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 1px;
  width: 80%;
  background: white;
  border-radius: 9px;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 25%;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 75%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 4px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  transform: rotate(-45deg);
  top: 19px;
  left: 5px;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(8px);
  }
  to {
    opacity: 100;
    transform: translateX(0px);
  }
}

@keyframes fadeSlideOut {
  from {
    opacity: 100;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(30px);
  }
}

@keyframes dropdownOpenAnimation {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 100;
  }
}

@keyframes dropdownCloseAnimation {
  from {
    transform: translateY(0px);
    opacity: 100;
  }
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}

.fadeSlideIn {
  animation: fadeSlideIn 0.5s forwards;
}

.fadeSlideOut {
  animation: fadeSlideOut 0.3s forwards;
}

.dropDownOpenAnimation {
  animation: dropdownOpenAnimation 0.2s forwards;
  animation-timing-function: cubic-bezier(0.5, 0.69, 0.65, 1);
}

.dropDownCloseAnimation {
  animation: dropdownCloseAnimation 0.2s forwards;
  animation-timing-function: cubic-bezier(0.5, 0.69, 0.65, 1);
}

@keyframes navbarUlFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes navbarUlFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

@keyframes fadeInWithoutTransform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutWithoutTransform {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navbarUlFadeIn > * {
  opacity: 0;
  animation: navbarUlFadeIn 0.5s forwards;
}

.navbarUlFadeIn > *:nth-child(1) {
  animation-delay: 0.15s;
}
.navbarUlFadeIn > *:nth-child(2) {
  animation-delay: 0.17s;
}
.navbarUlFadeIn > *:nth-child(3) {
  animation-delay: 0.19s;
}
.navbarUlFadeIn > *:nth-child(4) {
  animation-delay: 0.21s;
}
.navbarUlFadeIn > *:nth-child(5) {
  animation-delay: 0.23s;
}
.navbarUlFadeIn > *:nth-child(6) {
  animation-delay: 0.25s;
}
.navbarUlFadeIn > *:nth-child(7) {
  animation-delay: 0.27s;
}
.navbarUlFadeIn > *:nth-child(8) {
  animation-delay: 0.29s;
}
.navbarUlFadeIn > *:nth-child(9) {
  animation-delay: 0.31s;
}
.navbarUlFadeIn > *:nth-child(10) {
  animation-delay: 0.33s;
}
.navbarUlFadeIn > *:nth-child(11) {
  animation-delay: 0.35s;
}

.navbarUlFadeOut > * {
  opacity: 0;
  animation: navbarUlFadeOut 0.5s backwards;
}

.navbarUlFadeOut > *:nth-child(11) {
  animation-delay: 0.15s;
}
.navbarUlFadeOut > *:nth-child(10) {
  animation-delay: 0.17s;
}
.navbarUlFadeOut > *:nth-child(9) {
  animation-delay: 0.19s;
}
.navbarUlFadeOut > *:nth-child(8) {
  animation-delay: 0.21s;
}
.navbarUlFadeOut > *:nth-child(7) {
  animation-delay: 0.23s;
}
.navbarUlFadeOut > *:nth-child(6) {
  animation-delay: 0.25s;
}
.navbarUlFadeOut > *:nth-child(5) {
  animation-delay: 0.27s;
}
.navbarUlFadeOut > *:nth-child(4) {
  animation-delay: 0.29s;
}
.navbarUlFadeOut > *:nth-child(3) {
  animation-delay: 0.31s;
}
.navbarUlFadeOut > *:nth-child(2) {
  animation-delay: 0.33s;
}
.navbarUlFadeOut > *:nth-child(1) {
  animation-delay: 0.35s;
}

.fadeOutWithoutTransform {
  animation: fadeOutWithoutTransform 0.5s forwards;
}

.fadeInWithoutTransform {
  animation: fadeInWithoutTransform 0.5s forwards;
}

.fadeInWithoutTransformForArrowIcon {
  animation: fadeInWithoutTransform 0.5s forwards;
}

.fadeOutWithoutTransformForArrowIcon {
  animation: fadeOutWithoutTransform 0.5s forwards;
}
