@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@theme {
  --color-primary: #050816;
  --color-secondary: #aaa6c3;
  --color-tertiary: #151030;
  --color-black-100: #100d25;
  --color-black-200: #090325;
  --color-white-100: #f3f3f3;

  --breakpoint-min: 320px;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.grainy_text_container {
  position: relative;
}

.grainy_text {
  font-family: "Anton", sans-serif;
  font-size: 100px;
  color: white;
  position: relative;
  text-transform: uppercase;
  background: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: contrast(1.5) brightness(1.2);
}
